<div class="isa_warning">
<style>
p
{
    width:100%;
    word-wrap:break-word;
}
</style>
     <p>This website and its associated repositories, are <strong>deprecated</strong> and no longer supported by the OSGi Alliance. Please visit <a href="https://enroute.osgi.org">https://enroute.osgi.org</a> for the latest supported version of OSGi enRoute.</p>

<p>This enRoute v2 archive site is kept for those who do not intend to use the latest version of OSGi enRoute. If you are new to OSGi enRoute, then please start with the latest <a href="https://enroute.osgi.org">OSGi enRoute</a>.</p>
</div>
